%h1 Conversation#New
%p start or view an open conversation

%div.messages
  - messages.each do |message|
    %div.message
      = message.body

  = simple_form_for :new_message, url: "/conversations/create", method: :post do |f|
    = f.text_area :body, class: "new_message"
    %br
    = f.submit "Wyślij wiadomość"

%div.item_data
  %h3
    = item.title
  = image_tag item.photo.url(:medium)
  %br
  = item.description