%h1 Items#index
%p Find me in app/views/items/index.html.erb

- if user_signed_in?
  = link_to new_item_path, method: :get do
    %div.item#new

- items.each do |item|
  - if user_signed_in? and item.user != current_user
    = link_to "conversations/new?item_id=#{item.id}&item_user_id=#{item.user.id}" do
      %div.item
        = draw_item item