!!!
%html
  %head
    %title Give Your Shit Away
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body 
    = nav_bar responsive: true, brand: "Oddaj Swoje Gówno", brand_link: root_path do
      = menu_group do
        = menu_divider
        = drop_down "Aukcje" do 
          = menu_item "Przedmioty", root_path
          = menu_item "Moje przedmioty", ""
        = menu_divider
        = menu_group do
          = simple_form_for :search, url: items_path, method: :get, html: { class: "navbar-form navbar-right" } do |f|
            = f.text_field :query, class: "form-control", placeholder: "Search"
            = f.submit "Szukaj", class: "btn btn-default"
      = menu_group  pull: :right do
        = menu_group do
          - if user_signed_in?
            = menu_group do
              = link_to "/conversations/inbox" do
                %div.inbox
                  = "#{current_user.new_conversation_count(current_user)}"
            = menu_group do
              = menu_text "Witaj #{current_user.email}!"
        - if user_signed_in?
          = menu_divider
          = menu_item "Wyloguj", destroy_user_session_path, method: :delete, class: "pull-right"
          = menu_divider
        - else
          = menu_group do
            = menu_divider
            = drop_down "Konto" do
              = menu_group do 
                %li.menu_padding.menu_shade Logowanie
                = simple_form_for :user, url: session_path(:user), html: { class: "navbar-form menu_padding" } do |f|
                  = f.text_field :email, placeholder: "email"
                  = f.password_field :password, placeholder: "hasło"
                  = f.submit "Zaloguj się", class: "btn btn-default"
                = drop_down_divider
                %br
                %li.padding_left.menu_shade Nie masz konta ?
                = link_to "Zarejestruj się", new_user_registration_path
            = menu_divider

    - if flash[:notice] 
      %div.alert.alert-success
        = flash[:notice]
    - if flash[:error]
      %div.alert.alert-danger
        = flash[:error]
    - if user_signed_in? and current_user.does_not_validate
      %div.alert.alert-warning
        = link_to users_update_account_information_path(current_user) do
          = globals_update_account_information_message

    %div.container-fluid
      %div.row.full-height-row
        %div.span2.col-md-3
          - categories.each do |category|
            = link_to category.name, items_path(category: category.name) 
            %br

        %div.col-md-11
          = yield
          = debug params if Rails.env == 'development'